<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Titre</title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <div class="card">
            <h1>Titre d la page</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum optio officiis veniam cumque magni facere commodi corrupti id modi nisi, blanditiis quidem asperiores autem dolor consequatur facilis dicta adipisci porro placeat ex! Iusto numquam, repudiandae culpa quod eaque labore laboriosam perspiciatis hic excepturi provident consectetur illum aspernatur? Veritatis totam ex suscipit, eum voluptatum alias quis earum aliquid, tempora laboriosam pariatur! Saepe magnam corrupti cum, tenetur reprehenderit perspiciatis ratione earum et a non est necessitatibus, numquam quo alias molestias vitae recusandae vel soluta placeat perferendis quisquam? Quas reprehenderit amet iusto dolorum aliquid voluptatem.</p>
        </div>
    </body>
</html>